BasedOnStyle: Google

ColumnLimit: 120
IndentWidth: 4
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4

AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
InsertBraces: true

IndentRequiresClause: false
PointerAlignment: Left
QualifierAlignment: Custom
QualifierOrder: [inline, static, constexpr, friend, type]
RequiresClausePosition: WithPreceding

SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterRequiresInClause: true
